.container {
  display: flex;
}

.thumbnail {
  margin-right: 1rem;
}

img {
  display: block;
  width: 24rem;
  height: 14rem;
  object-fit: cover;
  margin-right: 3rem;
}

.contents h2 {
  margin: 0;
}

.contens h2 a {
  color: black;
}

.contents p {
  margin: 0;
  line-height: 1.5;
  margin-top: 0.5rem;
  white-space: normal;
}

.container + .container {
  margin-top: 3rem;
}
