.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about img {
  width: 80px;
  height: 80px;
  cursor: pointer;
  margin: 50px 0 50px 0;
}

.about img:hover {
  animation: rotate_coin 2s linear infinite;
  transform-origin: 50% 50%;
}

@keyframes rotate_coin {
  100% {
    transform: rotateY(360deg);
  }
}

.text {
  line-height: 4;
  text-align: center;
}

h1 {
  margin-bottom: 50px;
}
