.container {
  display: flex;
}

.card {
  width: 300px;
  height: 400px;
  font-size: 12px;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.1);
  transition: transform 0.5s;
}

.img {
  width: 100%;
  height: 200px;
  margin: 0 auto;
}

.title {
  font: 24px;
  font-weight: bold;
}
