.container {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 3px;
}

.marketList:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.3s;
  background-color: rgb(243, 41, 41);
  color: #fff;
}
