body {
  margin: 0;
  padding-left: 15rem;
  background-color: #e7ed9b;
}

a:hover {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
